name: Create missing datasets

on: workflow_dispatch

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.missing_versions }}
    steps:

      - name: Checkout data repo
        uses: actions/checkout@v5

      - name: Checkout tenpy
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # required to get all tags
          repository: tenpy/tenpy
          path: tenpy_repo

      - name: List tenpy tags
        working-directory: tenpy_repo
        run: |
          bare_versions=""
          for version in $(git tag); do
            [[ $version != v* ]] && echo "Skipping non-version tag: $version" && continue
            echo "Adding: $version"
            bare_versions="$bare_versions ${version#v}"
          done
          export_cmd="BARE_VERSIONS=${bare_versions# }"
          echo
          echo $export_cmd
          echo $export_cmd >> $GITHUB_ENV

      - id: set-matrix
        name: Check for missing I/O datasets
        run: |
          missing_versions=""
          for version in $BARE_VERSIONS; do
            echo "Checking: $version"
            pkl_file="data/exported_from_tenpy_$version.pkl"
            hdf5_file="data/exported_from_tenpy_$version.hdf5"
            if [ ! -f $pkl_file ]; then
              echo "  $pkl_file missing"
              missing_versions="$missing_versions $version"
            elif [ ! -f $hdf5_file ]; then
              echo "  $hdf5_file missing"
              missing_versions="$missing_versions $version"
            fi
          done
          missing_versions=${missing_versions# }
          export_cmd="missing_versions=[\"${missing_versions// /\", \"}\"]"
          echo
          echo $export_cmd
          echo $export_cmd >> $GITHUB_OUTPUT

  create:
    needs: [detect]
    runs-on: ubuntu-latest
    if: ${{ needs.detect.outputs.matrix != '[""]' }}
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.detect.outputs.matrix) }}
    steps:

      - name: Checkout data repo
        uses: actions/checkout@v5

      - name: Checkout tenpy
        uses: actions/checkout@v5
        with:
          ref: v${{ matrix.version }}
          repository: tenpy/tenpy
          path: tenpy_repo

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          pip install numpy scipy pytest h5py

      - name: Generate datasets
        run: |
          export PYTHONPATH="$PYTHONPATH:${{ github.workspace }}/tenpy_repo"
          if [ -f tenpy_repo/tests/export_import_test/test_hdf5.py ]; then
            python tenpy_repo/tests/export_import_test/test_hdf5.py
          fi
          if [ -f tenpy_repo/tests/export_import_test/test_pickle.py ]; then
            python tenpy_repo/tests/export_import_test/test_pickle.py
          fi

          if [ ! -d tenpy_repo/tests/export_import_test/data ]; then
            echo "No data was generated."
            exit 1
          fi

      - name: Move datasets
        run: |
          mv tenpy_repo/tests/export_import_test/data/* data

      - name: Make PR
        uses: peter-evans/create-pull-request@v8
        with:
          add-paths: data/*
          commit-message: Add dataset for v${{ matrix.version }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          title: Add dataset for v${{ matrix.version }}
          body: This PR is automatically created by the create.yml workflow
          reviewers: Jakob-Unfried
          base: main
          delete-branch: true
          branch: create-v${{ matrix.version }}
