name: Create missing datasets

on: workflow_dispatch

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.missing_versions }}
    steps:

      - name: Checkout data repo
        uses: actions/checkout@v5

      - name: Checkout tenpy
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # required to get all tags
          repository: tenpy/tenpy
          path: tenpy_repo

      - name: List tenpy tags
        working-directory: tenpy_repo
        run: |
          bare_versions=""
          for version in $(git tag); do
            [[ $version != v* ]] && echo "Skipping non-version tag: $version" && continue
            [[ $version =~ v0.(1|2|3).0 ]] && echo "Skipping $version (too old, no export code)" && continue
            echo "Adding: $version"
            bare_versions="$bare_versions ${version#v}"
          done
          export_cmd="BARE_VERSIONS=${bare_versions# }"
          echo
          echo $export_cmd
          echo $export_cmd >> $GITHUB_ENV

      - id: set-matrix
        name: Check for missing I/O datasets
        run: |
          missing_versions=""
          for version in $BARE_VERSIONS; do
            echo "Checking: $version"
            pkl_file="data/exported_from_tenpy_$version.pkl"
            hdf5_file="data/exported_from_tenpy_$version.hdf5"
            if [ ! -f $pkl_file ] && [ -f tenpy_repo/tests/export_import_test/test_pickle.py ]; then
              echo "  $pkl_file missing"
              missing_versions="$missing_versions $version"
            elif [ ! -f $hdf5_file ] && [ -f tenpy_repo/tests/export_import_test/test_hdf5.py ]; then
              echo "  $hdf5_file missing"
              missing_versions="$missing_versions $version"
            fi
          done
          missing_versions=${missing_versions# }
          export_cmd="missing_versions=[\"${missing_versions// /\", \"}\"]"
          echo
          echo $export_cmd
          echo $export_cmd >> $GITHUB_OUTPUT

  create:
    needs: [detect]
    runs-on: ubuntu-latest
    if: ${{ needs.detect.outputs.matrix != '[""]' }}
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.detect.outputs.matrix) }}
    steps:

      - name: Checkout data repo
        uses: actions/checkout@v5

      - name: Checkout tenpy
        uses: actions/checkout@v5
        with:
          ref: v${{ matrix.version }}
          repository: tenpy/tenpy
          path: tenpy_repo

      - name: Pin versions
        run: |
          if [[ ${{ matrix.version }} =~ 0.(4|5|6|7).[0-9] ]]; then
            echo "numpy_version=1.19.2" >> $GITHUB_ENV
            echo "scipy_version=1.5.2" >> $GITHUB_ENV
            echo "python_version=3.9" >> $GITHUB_ENV
          elif [[ ${{ matrix.version }} =~ 0.(8|9|10|11|99).[0-9] ]] || [[ ${{ matrix.version }} =~ 1.0.[0-2] ]]; then
            echo "numpy_version=1.26" >> $GITHUB_ENV
            echo "scipy_version=1.10" >> $GITHUB_ENV
            echo "python_version=3.10" >> $GITHUB_ENV
          else
            echo "numpy_version=2.3.2" >> $GITHUB_ENV
            echo "scipy_version=1.16.1" >> $GITHUB_ENV
            echo "python_version=3.13" >> $GITHUB_ENV
          fi

      - name: Remove unused pylab imports
        if: matrix.version == '0.4.0'
        # v0.4.0 imports pylab but does not use it.
        # rather than figuring out how to install it, we just remove the unused import statement
        # also remove bugged lines from the __main__ block of test_pickle.py
        run: |
          sed -i '/import pylab as pl/d' tenpy_repo/tenpy/algorithms/tdvp.py
          sed -i '/import pylab as pl/d' tenpy_repo/tests/tdvp_numpy.py

      - name: Fix export_import script
        if: matrix.version == '0.4.0' || matrix.version == '0.4.1' || matrix.version == '0.5.0'
        # there are two lines in the __main__ block that seem outdated and need to be removed
        run: |
          sed -i '/for f, fn in test_data_import():/d' tenpy_repo/tests/export_import_test/test_pickle.py
          sed -i '/f(fn)/d' tenpy_repo/tests/export_import_test/test_pickle.py

      - name: Set up Python ${{ env.python_version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.python_version }}

      - name: Install dependencies
        run: |
          pip install numpy==$numpy_version scipy==$scipy_version pytest h5py

      - name: Generate datasets
        run: |
          export PYTHONPATH="$PYTHONPATH:${{ github.workspace }}/tenpy_repo"
          if [ -f tenpy_repo/tests/export_import_test/test_hdf5.py ]; then
            python tenpy_repo/tests/export_import_test/test_hdf5.py
          fi
          if [ -f tenpy_repo/tests/export_import_test/test_pickle.py ]; then
            python tenpy_repo/tests/export_import_test/test_pickle.py
          fi

          if [ ! -d tenpy_repo/tests/export_import_test/data ]; then
            echo "No data was generated." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: Rename datasets
        if: matrix.version == '0.4.0' || matrix.version == '0.4.1' || matrix.version == '0.5.0'
        # the naming convention for the files changed in 0.6.0
        run: |
          mv tenpy_repo/tests/export_import_test/data/pickled_from_tenpy_v${{ matrix.version }}.pkl \
            tenpy_repo/tests/export_import_test/data/exported_from_tenpy_v${{ matrix.version }}.pkl

      - name: Move datasets
        run: |
          mv tenpy_repo/tests/export_import_test/data/* data

      - name: Make PR
        uses: peter-evans/create-pull-request@v8
        with:
          add-paths: data/*
          commit-message: Add dataset for v${{ matrix.version }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          title: Add dataset for v${{ matrix.version }}
          body: This PR is automatically created by the create.yml workflow
          reviewers: Jakob-Unfried
          base: main
          delete-branch: true
          branch: create-v${{ matrix.version }}
